@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Onest:wght@100&family=Roboto:wght@100&family=Young+Serif&display=swap");

@function ubah-font($ubfont, $ubah) {
  @return map-get($ubhfont, $ubah);
}

$ubhfont: (
  "font-1": "Onest",
  "font-2": "Dela Gothic One",
);
$wrn: rgb(78, 78, 78);

h6 {
  font-family: ubah-font($ubhfont, "font-1");
  color: $wrn;
}
.col {
  font-family: ubah-font($ubhfont, "font-2");
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin shadow($color: #000, $x: 0, $y: 4px, $blur: 4px, $spread: 0) {
  box-shadow: $x $y $blur $spread $color;
}

$enable-shadow: true; // Setel ke false jika tidak ingin efek bayangan

.alert {
  @include margin(50px);
  @if $enable-shadow {
      @include shadow(rgba(0, 0, 0, 0.2)); // Menambahkan efek bayangan jika $enable-shadow adalah true
  }
}

.testimonials {
  @include margin(0px, 0px, 50px, 0px);
}
