@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
$backgroundColor: #e5e5e5;
$fontColor: #555555;

#kategori h4,
#mtTab,
.cardKonten h5,
.cardKonten p {
  font-family: "Inter", sans-serif;
}
.cardKonten p {
  color: $fontColor;
}
.cardKonten:hover {
  transform: scale(1.05);
  background-color: $backgroundColor;
}
