body {
  margin: 20px;
  padding: 0; 
}

/*navbar*/
.shadow-navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  background-color: #ffffff;
}
.navbar-toggler-icon {
  background-color: #3EC5EF;
}
.navbar li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.navbar li a:hover {
  background: #ffffff;
  color: #3ec5ef;
}
.margin {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.gap-home {
  margin-left: 25rem;
}
.gap-testimoni {
  margin-left: 1rem;
  margin-right: 4rem;
}
.gap {
  margin-left: 1rem;
}

@media (max-width: 991.98px) {
  .gap-home {
    margin-left: 15px;
  }
}
/*home*/
.col-lg-5.col-12 {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
}
.container {
  margin-top: 70px;
  color: black;
  font-size: 15px;
  font-weight: 300;
}
.img-container {
  margin-top: 10px;
}
.hero-content {
  margin-top: 100px;
  color: black;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.hero-image {
  width: 661px;
  height: 180px;
}

.hero-text {
  margin-top: 20px;
}

.hero-button {
  background-color: #3EC5EF;
  color: white;
  border-radius: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.card {
  height: 100px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.card-body {
  color: black;
  font-size: 15px;
}

.card-text {
  font-weight: 300;
}
.col-md-4 {
  margin-top: 8px;
  padding: 5px;
  border-radius: 5px;
}
.hero-product {
  margin-top: 0.2rem;
  margin: 1rem;
}

.image-hero-product{
  margin:0.2rem;
}

.hero-product:hover {
  transform: scale(1.13);
}
.hero-product:hover img {
  transform: scale(1.11);
}
.hero-product:hover .ul {
  transform: translate(0);
  opacity: 1;
}

.catMenu {
  margin-bottom: 1em;
}

.card-catMenu:hover{
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-catMenu:hover h5{
  color: #3ec5ef;
}

/*via order*/
.sub {
  font-size: 20px;
  font-weight: bold;
}


.v-order {
  color: #3fc4ef;
}

.btn-info {
  background-image: url("./assets/logo-gofood.png");
  background-size: 80% 90%;
  background-color: #3fc4ef;
  background-repeat: no-repeat;
  margin: 1rem;
  width: 12rem;
  height: 3rem;
  background-position: center;
}

.custom-card {
  color: #3fc4ef;
}

.tl-card {
  text-align: center;
}
.alert {
  font-family: arial;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 20px;
}
.col {
  font-size: 40px;
  font-weight: bold;
  color: #1cc7ff;
  margin-top: 0px;
  padding-top: 0px;
}
h6 {
  color: grey;
}

/* footer css  */
footer h5{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(78, 78, 78);
  font-weight: bold;
}

footer li {
  font-size: 1.3rem;
  padding: 5px;
  font-weight: 400;
}

footer h3{
  margin-top: 10px;
  font-size: x-large;
  color: rgb(78, 78, 78);
}

footer .circle-background{
    width: 100px;
    height: 100px;
    background-color: #1cc7ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-2 {
  color: rgb(78, 78, 78);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

footer .instagram-logo {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

footer .centered-text {
  font-family: sans-serif;
  font-weight: 500;
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
}