body {
  margin: 20px;
  padding: 0;
}

/*navbar*/
.shadow-navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  background-color: #ffffff;
}
.navbar-toggler-icon {
  background-color: #3ec5ef;
}
.navbar li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.navbar li a:hover {
  background: #ffffff;
  color: #3ec5ef;
}

/*home*/
.centered-text {
  padding-top: 8rem;
}

.efek-product:hover {
  transform: scale(1.05);
}

.efek-product:hover img {
  transform: scale(1.02);
}

.efek-product:hover .ul {
  transform: translate(0);
  opacity: 1;
}

.gambar-logo {
  width: 100%;
  height: auto;
  max-width: 500px;
} 
.button-hover{
  background-color: #3fc4ef;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
.button-hover:hover{
  background-color: deepskyblue;
}
/* Menu */
.card-catMenu:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-link{
  overflow: hidden;
}
/* .card-catMenu:hover h5 {
  color: #3ec5ef;
} */

/*via order*/
.sub {
  font-size: 20px;
  font-weight: bold;
}

.v-order {
  color: #3fc4ef;
}

.btn-info-order {
  background-image: url("./assets/logo-gofood.png");
  background-size: 60% 60%;
  background-color: #3fc4ef;
  background-repeat: no-repeat;
  margin: 1rem;
  width: 12rem;
  height: 3rem;
  background-position: center;
  border: none;
}

.btn-info-order:hover {
  background-color: white;
  border: 3px solid #3fc4ef;
}

.custom-card {
  color: #3fc4ef;
}

.tl-card {
  text-align: center;
}
.alert {
  font-family: arial;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 20px;
}
.test-wcust {
  font-size: 30px;
  font-weight: bold;
  color: #1cc7ff;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-text-stroke: 0.5px black;
}
h6{
  -webkit-text-stroke: 0.5px black;
}
.oc {
  max-width: 550px;
  height: auto;
  min-width: 260px;
  margin-top: 40px;
}

/* footer css  */
footer h5 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(78, 78, 78);
  font-weight: bold;
}

footer li {
  font-size: 1.3rem;
  padding: 5px;
  font-weight: 400;
}

footer h3 {
  margin-top: 10px;
  font-size: x-large;
  color: rgb(78, 78, 78);
}

footer .circle-background {
  width: 100px;
  height: 100px;
  background-color: #1cc7ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-2 {
  color: rgb(78, 78, 78);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

footer .instagram-logo {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

footer .centered-text {
  font-family: sans-serif;
  font-weight: 500;
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
}

.paralax1 {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/9702357_4231162.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.paralax2 {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/pink-underwater-bubbles-abstract-oil.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}